* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: #FFF2E3;
  color: #202B45;
  font-family: 'Roboto Mono', monospace;
  line-height: 32px;
}

.app {
  display: grid;
  grid-template-columns: 75vw 25vw;
  grid-template-rows: 272px auto;
  grid-template-areas:
    "main main-menu"
    "main context-menu";
}

.main {
  grid-area: main;
  padding-top: 144px;
  padding-left: 96px;
  padding-right: 144px;
}

.menu {
  grid-area: main-menu;
  padding-top: 48px;
}

.context-menu {
  grid-area: context-menu;
  padding-top: 32px;
}

a {
  text-decoration: none;
}

.active {
  font-weight: 900;
  color: black;
}
