@import '_variables';

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: #FFEEDD;
  color: $dark;
  font-family: input-serif,serif;
  line-height: 32px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: calc(100vw - 100%);
}

.app {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 696px 192px;
  grid-template-rows: 224px auto;
  grid-template-areas:
    "main main-menu"
    "main context-menu";
}

.main {
  grid-area: main;
  margin-right: 64px;
  padding-bottom: 144px;
}

.menu {
  grid-area: main-menu;
}


.context-menu {
  grid-area: context-menu;
  padding-top: 32px;
}

a {
  text-decoration: none;
  height: 100%;
}

h6 {
  font-size: 13px;
  font-weight: normal;
}

h4 {
  font-weight: normal;
}

p {
  margin-bottom: 32px;
}

input {
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.danger {
  color: $danger;
}

.clickable {
  font-weight: normal;

  &:hover {
    font-style: italic;
    cursor: pointer;
  }
}

.active {
  font-weight: bold;
  color: $dark;

  &:hover {
    font-style: normal;
  }
}

.inactive {
  font-weight: normal;
  color: $light;
}

.hidden {
  display: none;
}

.space--between {
  margin-top: 32px;
}

.letter--wrapper {
  white-space: pre-wrap;
}

@media screen and (max-width: 768px) {
  .app {
    display: inline;
  }

  .main {
    padding-top: 92px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 144px;
  }
}