@import '_variables';

.drafts {
  padding-top: 96px;
  padding-left: 48px;

  &__delete {
    margin-top: 32px;
  }

  &__draft-item {
    margin-bottom: 32px;

    &__status {
      color: $light;
    }
  }
}