@import '_variables';

.mailbox {
  &__list {
    width: 100%;
  }
}

.sent-item {
  margin-bottom: 32px;

  &__name {
    color: $light;
    font-weight: normal;
  }

  &__date {
    color: $light;
  }
}

.reccd-item {
  height: 400px;
}

.reccd-item, .letter {
  box-shadow: -1px 1px 6px rgba(32, 43, 69, .3);
  padding-top: 68px;
  padding-left: 32px;
  padding-bottom: 32px;
  padding-right: 72px;
  margin-bottom: 32px;

  &__name {
    font-size: 13px;
    margin-right: 10px;
  }

  &__date {
    font-size: 13px;
    color: $light;
  }
}