@import '_variables';

.write {
  &__textarea {
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; 
  }

  &__clear {
    margin-top: 32px;
  }

  &__cancel {
    margin-top: 32px;
  }
}

